tmp
spec/reports

*.gem
InstalledFiles
*.rbc
.config
rdoc
test/version_tmp
lib/bundler/man
.bundle
pkg
coverage
.yardoc
junoreport.sublime-project
junoreport.sublime-workspace
# YARD artifacts
test/tmp
_yardoc
doc/